<template>
  <h1>Homepage</h1>
</template>
<script>
export default {
  unmounted() {
    console.log("Componente Home Unmonted");
  },
  activated() {
    console.log("Componente Home Attivato");

  },
  deactivated() {
    console.log("Componente Home Disattivato");

  },
};
</script>
