<!DOCTYPE >
<html>
  <head>
    <title>VueJS Course</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>

  <body>
    <div id="app">
      <ul>
        <!-- funziona come un foreach ed fa girare tutto un array -->
        <li v-for="(bird, index) in birds" :class="bird" :key="bird">
          <!-- birds nome dell'array -->
          {{bird}} - {{index}}
          <!-- possiamo usare bird come istanza ed collegare una classe attributo al alias bird -->
          <!-- non possiamo usare il bird alias fuori dall'elemento. siamo limitati ad usarli su di esso o all'interno di esso -->
        </li>

        <!-- <li v-for="birdin birds" :class="bird">{{bird}}</li> -->
      </ul>

      <ul>
        <li v-for="person in people">
          <div>{{person.age}}</div>
          <div>{{person.name}}</div>
        </li>
      </ul>

      <ul>
        <li v-for="person in people">
          <div v-for="(value, key, index) in person">
            {{key}}: {{value}} - index: {{index}}
          </div>
        </li>
      </ul>
    </div>
    <!-- se siamo solo interessati al valore della attuale interazione possiamo impostrare un alias per il valore ma
se volgiamo prendere l'index ed il valore abbiamo bisogno di inserirlo tra ()
vue ha bisogno che noi gli diamo un alias per il nome ed per l'index-->

    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
  </body>
</html>
