<template>
  <!-- <p>Ciaoo mondo</p> -->
  <!-- <p>{{ msg }}</p> -->
  <h3>Hey!</h3>
  <!-- <button type="button" @click="eta++">Aumenta l'età</button>
  <button type="button" @click="eta--">Diminuisci l'età</button> -->

  <greeting :eta="eta"> </greeting>
  <!-- qui si usa v-on o @ -->
  <user
    :eta="eta"
    @aumenta-eta="AggiornaEta"
    @diminuisce-eta="eta--"
    :aumentaEtaFn="AggiornaEtaCB"
  ></user>
  <!-- :aumentaEtaFn="AggiornaEtaCB" callback function -->

  <!-- @aumenta-eta="eta++"  -->
  <!-- puoi scirvero anche in lower case anche se usa il uppercase -->
</template>

<script>
import Greeting from "@/components/Greeting.vue";
import User from "@/components/User.vue";
export default {
  // la proprietà name non è richiesta, ma puo essere utile per debugging
  // dando un nome al componente è piu facile indentificarli nel developer tool,
  // se no senza nome verrebbero mostrati come anonymus
  name: "App",
  components: {
    Greeting,
    User,
  },
  data() {
    return {
      eta: 25,
    };
  },
  methods: {
    AggiornaEta(num) {
      this.eta += num;
    },
    // callbackfunction
    AggiornaEtaCB(num) {
      this.eta += num;
    },
    // passiamo questa funzione al componente user, possiamo passare funzioni, ogetti, array oltre a numeri base
  },
};
</script>
// il requisito minimo per un singolo component file per essere valido è il template block
// solo i componenti padri possono ricevere eventi da componenti figli

// tra il callback function e $emit events non cambia molto per le performance, ma è consigliato usare $emits events