<!DOCTYPE >
<html>
  <head>
    <title>VueJS Course</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>

  <body>
    <div id="app">
      <p v-if="mode == 1">Mostrando contenuto direttiva v-if</p>
      <!--non puoi mettere nulla intramezzo di v-if ed v-else-if se no vue riporta un errore  -->
      <h3 v-else-if="mode == 2">v-else-if</h3>
      <!-- idem qui se no nom mi prende più il else -->
      <p v-else>else</p>
      <!-- non serve essere applicato allo stesso elemento  -->
      <!-- deve essere allo stesso livello non diviso da un div -->
      <!-- <p v-if="mode == 1">Mostrando contenuto direttiva v-if</p>
      <div><h3 v-else-if="mode == 2">v-else-if</h3></div>
      <p v-else>else</p> -->
      <!-- verrebbe riportato un errore ed non funzionerebbe il  -->
      <hr />
      <p v-if="mode == 1">Mostrando contenuto direttiva v-if</p>
      <div v-else-if="mode == 2">
        <p>Contenuto bonus</p>
        <h3>v-else-if</h3>
      </div>
      <p v-else>else</p>
      <hr />
      <p v-if="mode == 1">Mostrando contenuto direttiva v-if</p>
      <!-- se invece volgiamo tenere i nostri dati uniti ed non divisi da un div usiamo il tag template di vue per mantenere la nostra struttura senza rovinare il nostro stile
       -->
       <!-- v-if invece rimuove o aggiunge elementi dipende dalla condizione, funziona con v-else funziona con template tag,
         leggero in caricamento perche è lazy, pesante in toggle  -->
      <template v-else-if="mode == 2">
        <p>Contenuto bonus</p>
        <h3>v-else-if</h3>
      </template>
      <p v-else>else</p>
<!-- funziona simile al v-if ma non viene rimosso dal documento ma solo impostato il css di display none -->
     <!-- non funziona con v-else non funziona con template tag, pesante nel caricamento, leggero nel toggle -->
<i v-show="mode == 1">
        <hr />
        v-show</i
      >
<!-- usare v-show in elementi che costantemente compaiono, scomapiono nella pagina,
   v-if se appaiono scomapaiono occasionalmente o raramente -->
      <select v-model="mode">
        <option value="1">v-if</option>
        <option value="2">v-else-if</option>
        <option value="3">else</option>
      </select>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
  </body>
</html>
