<!DOCTYPE html>
<html>
  <head>
    <title>VueJS Course</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <!-- <div id="app">{{2+2}}</div> -->
    <!-- aabiamo messo una direttiva che è stata impostata in css per non far mostrare il nostro dato fino al caricamento di vue -->
    <div id="app" v-cloak>{{fristName}} {{lastName}}</div>
    <br />

    <!-- vue con mount prende solo il primo che incontra le copie con lo stesso nome non le rende valide-->
    <div id="app">{{fristName}} {{lastName}}</div>
    <br />

    <div id="app2">{{fristName}} {{lastName}}</div>
    <br />

    <!-- altro tipo di scrittura accettata -->
    <div class="app">
      <!-- <p>{{fullName()}}</p> -->
      <!-- con computed fullName non è più una funzione -->
      <p>{{fullName}}</p>

      <!-- typeof keyword istruisce alla nostra applicazione di rilasciare il tipo di dato della variabile -->
      <p>{{typeof eta}}</p>
      <!-- con la derittiva v-on:click basato sul click del mouse -->

      <br />
      <label>Età</label>
      <!--il tag .numer coverte tutto quello inserito in numeri  -->
      <input type="number" v-model.numer="eta" />
      <button type="button" v-on:click.shift="increment">
        Incrementa con shift+click
      </button>
      <button type="button" @click.ctrl="eta--">
        Decrementa con ctrl+click
      </button>

      <br />
      <!-- con v-bind passa l'attributo href come una espressione-->
      <p><a v-bind:href="url" target="_blank" class="">Google</a></p>
      <!-- con la direttiva v-html possimao far uscire un valore html come una espressione-->
      <p v-html="raw_url"></p>
      <hr />
<!-- trim modificatore rimuove l'eccesso di spazio bianco da unavlore -->
      <label>Frist name</label>
      <input type="text" v-model.lazy.trim="fristName" />

      <label>middle name</label>
      <input type="text" @keyup.enter="updateMiddlename" />

      <label>Last name</label>
      <!-- fa la stessa cosa del v-model -->
      <input
        type="text"
        :value="lastName"
        @input.prevent="updateLastName('Evento Cognome triggerato!', $event)" />
    </div>

    <br />

    <div></div>

    <!-- il valore viene valutato dall'espressione che viene usata come valore per il campo d'inserimento -->
    <div>
      espressione in una singola linea di codice viene valutata come un valre il
      valore può essere un numero una stringa o un valore logico
    </div>
    <br />
    <!-- espressione numerica -->
    <div>2+2</div>
    <br />
    <!-- espressione di una stringa -->
    <div>"hello".toUpperCase();</div>
    <br />
    <!-- valuta se è vero, espressione logica -->
    <div>1000 == 1000</div>
    <br />

    <div>Non sono espressioni</div>
    <!-- dichiarazioni -->
    <div>Var a</div>
    <br />
    <!-- funzione di dichiarazione -->
    <div>function greet(message){ console.log(message); }</div>
    <br />
    <!-- condizione di istruzione -->
    <div>if(a === b){<!--fai qualcosa-->}</div>
    <br />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
  </body>
</html>
<!-- su vue possiamo usare  -->
