<template>
  <button type="button" @click="flag = !flag">Toggle</button>

  <!-- se definiamo qui una durata vue preferirà questa rispetto a quella impostata su css -->
  <!-- nel comonente  duration="1000" -->

  <!-- <transition name="fade" mode="out-in">
     <h2 v-show="flag">Hello world!</h2> -->
  <!-- <h2 v-if="flag" key="main">Hello world!</h2>
    <h2 v-else key="secondary">Un altro Ciao</h2> -->
  <!-- </transition> -->

  <!-- possiamo determinare quale dato passare tra animation ed transition -->
  <!-- <transition name="zoom" type="animation" mode="in-out" appear>
    <h2 v-if="flag">Ciao</h2> -->
  <!-- </transition>  -->
  <!-- <transition
    @before-enter="beforeEnter"
    @enter="enter"
    @after-enter="afterEnter"
    @before-leave="beforLeave"
    @leave="leave"
    @after-leave="afterLeave"
    :css="true"
    name="fade"
  >
    :css="false" lo si usa quando non usiamo le animazioni css ma solo Js cosi diciamo di bloccare la ricerca per css

  esistono anche queste ed sono per cancellare le animazioni
   @enter-cancelled=""
    @leave-cancelled="" 
  <h2 v-if="flag">Hey</h2>
  </transition> -->
  <button @click="addItem">Aggiungi</button>
  <ul>
    <transition-group
      name="fade"
      enter-active-class="animate__animated animate__flipInX"
      leave-active-class="animate__animated animate__flipOutX"
    >
      <!-- 
        le proprietà di class name non possono essere vuote se no vue riporta un errore

      enter-from-class=""
      enter-active-class=""
      enter-to-class=""
      leave-from-class=""
      leave-active-class=""
      leave-to-class=""
     -->
      <!-- mettiamo le parentesi () per estrarre l'indice -->
      <li v-for="(number, index) in numbers" :key="number" @click="removeItem(index)">
        {{ number }}
      </li>
    </transition-group>
  </ul>
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      flag: true,
      numbers: [1, 2, 3, 4, 5],
    };
  },
  // di solito si usa il query selector o la funzione get element by id per selezionare un elemento
  // non dobbiamo farlo essendo che la funzione hook sono provviste con un elemento che chiameremo NEMICO
  // andremo a chiamare la funzione NEMICO nel ogetto dell'elemento
  // la funzione NEmico funziona solo con ogetti stupidi ed non è solo di VUE ma serve per animare un elemento il quale è stato chiamato
  // methods: {
  //   beforeEnter(el) {
  //     console.log("before-enter evento attivato", el);
  //   },
  //   enter(el, done) {
  //     console.log("enter evento attivato", el);
  //     // ad ogni ogetto può essere inserito con proprietà di eccesso che vogliamo aggiungere all'elemento ed JavaScript si prenderà
  //     // cura di traferire TRA le proprietà!
  //     const animation = el.animate([{ transform: "scale3d(0,0,0)" }, {}], {
  //       duration: 1000,
  //     });
  //     animation.onfinish = () => {
  //       done();
  //     };
  //   },
  //   afterEnter(el) {
  //     console.log("after-enter evento attivato", el);
  //   },
  //   beforeLeave(el) {
  //     console.log("before-leave evento attivato", el);
  //   },
  //   leave(el, done) {
  //     console.log("leave evento attivato", el);
  //     const animation = el.animate([{}, { transform: "scale3d(0,0,0)" }], {
  //       duration: 1000,
  //     });
  //     animation.onfinish = () => {
  //       done();
  //     };
  //   },
  //   afterLeave(el) {
  //     console.log("after-leave evento attivato", el);
  //   },
  // },

  methods: {
    addItem() {
      const num = Math.floor(Math.random() * 100 + 1);
      const index = Math.floor(Math.random() * this.numbers.length);
      this.numbers.splice(index, 0, num);
    },

    removeItem(index) {
      this.numbers.splice(index, 1);
    },

    beforeEnter(el) {
      console.log("before-enter evento attivato", el);
    },
    enter(el) {
      console.log("enter evento attivato", el);
    },
    afterEnter(el) {
      console.log("after-enter evento attivato", el);
    },
    beforeLeave(el) {
      console.log("before-leave evento attivato", el);
    },
    leave(el) {
      console.log("leave evento attivato", el);
    },
    afterLeave(el) {
      console.log("after-leave evento attivato", el);
    },
  },
};
</script>
per creare delle animazioni usiamo delle funzioni ma tu non saprai quando le tue
animazioni sono complete, la done funzione done è una funzione di callback che ti dice se
l'animazione è finita dopo aver chiamato la funzione done vue procederà ad aggiungere o
rimuovere l'elemento ma lo devi chiamare bene la funzione /* enter-from prima parte
dell'animazione */ /* enter-to la seconda parte dell'animanzione */ /* enter active
durante tutta l'animanzione*/ /* leave-from prima parte dell'animazione */ /* leave-to
laseconda parte dell'animanzione */ /* leave active durante tutta l'animanzione*/

<style>
.animate__flipOutX {
  position: absolute;
}
.animate__animated {
  animation-duration: 1.5s;
}
li {
  font-size: 22px;
  cursor: pointer;
}

.fade-enter-from {
  opacity: 0;
}
.fade-enter-active {
  transition: all 1s linear;
}
.fade-leave-to {
  transition: all 1s linear;
  opacity: 0;
}
.fade-move {
  transition: all 1s linear;
}
.fade-leave-active {
  position: absolute;
}

.zoom-enter-active {
  animation: zoom-in 1s linear forwards;
  transition: all 2s linear;
}
.zoom-leave-active {
  animation: zoom-out 1s linear forwards;
  transition: all 2s linear;
}

@keyframes zoom-in {
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}
@keyframes zoom-out {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(0, 0);
  }
}
</style>
