<template>
  <p v-if="eta >= 26">{{ msg }}</p>
  <p>Devi avere 26 o più anni per leggere questo messaggio</p>
</template>

<script>
export default {
  // la proprietà name non è richiesta, ma puo essere utile per debugging
  // dando un nome al componente è piu facile indentificarli nel developer tool,
  // se no senza nome verrebbero mostrati come anonymus
  name: "Greeting",
  props: ["eta"],
  data() {
    return {
      msg: "Ciaoo Pazzi",
    };
  },
};
</script>
// con l'attributo scoped lo stile non viene appicato a tutto ma solo a al componente il
cui siamo
<style scoped lang="scss">
p {
  color: red;
}
p:hover {
  color: darken(#cc4444, 15%);
}
</style>
// usando lo style non abbiamo problemi con classi ed id ed colo scope non abbiamo
problemi a gestire lo style che vada a sovrascrivere altri componenti
