<template>
  <button type="button" @click="onClickAumenta">Aumenta l'età</button>
  <button type="button" @click="aumentaEtaFn(5)">Aumenta l'età CB</button>

  <button type="button" @click="onClickDiminuisce">Diminuisci l'età</button>
  <p>L'utente ha {{ eta }} anni</p>
  <p>{{ etaDoppia }}</p>
</template>

<script>
export default {
  name: "User",
  //   props: ["eta"],
  props: {
    eta: {
      type: Number,
      //   required: true,
      //   default: 25,
      validator(value) {
        return value < 130;
      },
      //  la funzione validator parte prima dell'istanza del componente è stata creata
    },
    // callback function
    aumentaEtaFn: Function,
    // eta: {
    // type: [Number, String]
    // },
  },
  emits: ["aumenta-eta", "diminuisce-eta"],
  computed: {
    etaDoppia() {
      return this.eta * 2;
    },
  },

  methods: {
    // onClickAumenta() {
    //   this.$emit("aumenta-eta");
    // },
    onClickAumenta() {
      this.$emit("aumenta-eta", 3);
    },
    onClickDiminuisce() {
      this.$emit("diminuisce-eta");
    },
  },
};
</script>

<style lang="scss" scoped></style>
