<template>
  <app-form>
    <template v-slot:help>
      <p>{{ help }}</p>
    </template>

    <template v-slot:fields>
      <input type="text" placeholder="Email" />
      <input type="text" placeholder="username" />
      <input type="password" placeholder="password" />
    </template>

    <template v-slot:buttons>
      <button type="submit">Accetta</button>
    </template>
    <p>Testo fasullo</p>
  </app-form>

  <app-form>
    <div class="help">
      <p>questo è un po' di testo dove ci puoi contattare</p>
    </div>
    <div class="fields">
      <input type="text" placeholder="Email" />
      <input type="text" placeholder="username" />
    </div>
    <div class="buttons">
      <button type="submit">Accetta</button>
    </div>
  </app-form>
</template>
// v-slot lo usiamo al posto della classe per determinare il collegamento con lo slot in
sto caso in form.vue // non si può usare la direttiva v-slot sui div ma su template si

<script>
import AppForm from "./components/form.vue";
export default {
  name: "App",
  components: {
    AppForm,
  },
  data() {
    return {
      help: "questo è un po' di testo bho wsd",
    };
  },
};
</script>
